/* index.module.css */
.container {
  display: flex;
  justify-content: space-evenly; /* Align components to the start of the container */
  align-items: center;
  padding: 30px;
  margin: 0 auto;
}

/* Individual component CSS */
.component {
  padding: 20px;
  margin: 10px; /* Add margin between components */
}

/* ImagesComponent CSS */
.images {
  display: block;
  flex-wrap: wrap; /* Allow elements to wrap to the next row */
}
